.gradle
.metadata
.recommenders
.settings
Servers
RemoteSystemsTempFiles
TennisRefereeEAR/build
TennisRefereeEJB/build
TennisRefereeWeb/build
*.classpath
*.project
*.tern-project
.nb-gradle/
*.class


# Gradle
**/.gradle/
**/gradle/
**/gradlew
**/gradlew.bat


# Eclipse Generated Resources
**/bin/
**/build/
*.class
.classpath
.project

# Eclipse Workspace
**/.settings/
/.metadata/
/RemoteSystemsTempFiles/

/.nb-gradle/

# Netbeans Generated
nbproject/

.nb-gradle-properties

TennisRefereeWeb/_tern-project
